* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-image: url(http://wallpapercave.com/wp/wp1853719.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color:rgb(192, 192, 192);
    margin-top: 0.3rem;
    margin-left: 1rem;
}

.container_lg {
    width: 550px;
    height: 320px;
    border: 1px solid;
    background-color: #fff;
    border-radius: 0.5rem;
}

.container_lg {
    margin: 200px auto;
}

input[type="text"],
input[type="password"] {
    width: 80%;
    height: 40px;
    margin-left: 10%;
    margin-top: 15px;
}

::placeholder {
    color: darkgray;
    font-size: 1rem;
}

.sub input {
    width: 80%;
    height: 50px;
    margin-left: 10%;
    background-color: #000000;
    display: inline-block;
    transition: all 0.3s;
    color: #fff;
    border-radius: 40px;
}


.sub input:hover {
    background-color: goldenrod;
}

.forget p {
    width: 100%;
    height: 40px;
    text-align: center;
    color: green;
    text-decoration: underline;
}

/**************** START RESPONSIVE MEDIA SCREEN *****************/
/* media_type: screen, all, print  */

/****** Tablet -> PC *******/
@media (min-width: 768px) {
}

/****** Tablet -> PC *******/
@media (min-width: 1024px) {
}

/* View screen 13 - 14.6 inch. 1360, 1366px */
@media (min-width: 1024px) and (max-width: 1370px) {
}

/* mobile */
@media (max-width: 768px) {
    .container {
        width: 400px;
    }
}

/* iPhone 5, X, XR */
@media (max-width: 376px) {
    .container {
        width: 300px;
    }
}
/**************** END RESPONSIVE MEDIA SCREEN *****************/